<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Angular JS Forms</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="../lib/w5cValidator/css/w5cValidator.css" />
    </head>
<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-controller="validateCtrl">
        <form class="form-horizontal w5c-form" role="form"
              w5c-form-validate="validateOptions" novalidate name="validateForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>

                <div class="col-sm-10">
                    <input type="email" name="email" ng-model="entity.email" required="" class="form-control"
                           placeholder="输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>

                <div class="col-sm-10">
                    <input required="" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/" ng-model="entity.name"
                           w5c-unique-check="{url:'http://www.ngnice.com/api/test/user/name/check?name='+entity.name}"
                           class="form-control" name="username" placeholder="输入用户名（输入why520crazy验证存在）">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>

                <div class="col-sm-10">
                    <input type="password" required="" ng-model="entity.password" name="password"
                           class="form-control" ng-minlength="5" ng-maxlength="15"
                           placeholder="输入密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">重复密码</label>

                <div class="col-sm-10">
                    <input type="password" required="" w5c-repeat="password" ng-model="entity.repeatPassword" name="repeatPassword"
                           class="form-control"
                           placeholder="重复密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">数字</label>

                <div class="col-sm-10">
                    <input type="number" required="" ng-model="entity.number" name="number" class="form-control"
                           placeholder="输入数字（10-15）" max="15" min="10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">URL</label>

                <div class="col-sm-10">
                    <input type="url" required="" ng-model="entity.url" name="url" class="form-control"
                           placeholder="输入URL">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="buttom" w5c-form-submit="saveEntity()" class="btn btn-success"> 验证</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="../lib/angular-1.2.2/angular.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-1.11.1.js"></script>
    <!--<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>-->
    <script type="text/javascript" src="../lib/w5cValidator/js/w5cValidator.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>