<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <script type="text/javascript" src="../lib/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../lib/angular-1.2.2/angular.min.js"></script>
</head>
<body>
  <div ng-controller="BoxCtrl">
    <div style="width: 100px; height: 100px; background-color: #cccccc;" ng-click="click()">点我</div>
    <p>{{ w }} x {{ h }}</p>
    <p>W: <input type="text" ng-model="w" /></p>
    <p>H: <input type="text" ng-model="h" /></p>
  </div>
  <div ng-controller="BoxCtrl1">
      <div style="width: {{w}}px; height: {{h}}px; background-color: #cccccc;" ng-click="click()">点我</div>
      <p>{{ w }} x {{ h }}</p>
      <p>W: <input type="text" ng-model="w" /></p>
      <p>H: <input type="text" ng-model="h" /></p>
  </div>
  <div ng-app>
      {{html}}
      <p>html: <input type="text" ng-model="html" /></p>
  </div>
  <script type="text/javascript">
      var BoxCtrl = function($scope, $element){
          //$element 就是一个 jQuery 对象
          var e = $element.children().eq(0);
          $scope.w = e.width();
          $scope.h = e.height();

          $scope.click = function(){
            $scope.w = parseInt($scope.w) + 10;
            $scope.h = parseInt($scope.h) + 10;
          };

          $scope.$watch('w',
            function(to, from){
              e.width(to);
            }
          );

          $scope.$watch('h',
            function(to, from){
              e.height(to);
            }
          );
      };
      var BoxCtrl1 = function($scope, $element){
          //$element 就是一个 jQuery 对象
          var e = $element.children().eq(0);
          $scope.w = e.width();
          $scope.h = e.height();

          $scope.click = function(){
              $scope.w = parseInt($scope.w) + 10;
              $scope.h = parseInt($scope.h) + 10;
          };
          /*
          $scope.$watch('w',
                  function(to, from){
                      e.width(to);
                  }
          );

          $scope.$watch('h',
                  function(to, from){
                      e.height(to);
                  }
          );
          */
      };
      var BoxCtrl2 = function($scope, $element){

      };
      angular.bootstrap(document.documentElement);
  </script>
</body>
</html>
