.u-bj{
    position: absolute;
    z-index: 1001;
    top: -500px;
    left: -500px;
}
.u-index{
    width: 84%;
    height: 87%;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    left: 7%;
    top: 5%;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
	     background: url("../img/ccc.jpg");
    _height:600px;
}
.u-header{
    width: 100%;
    height: 90px;
}
.u-conten{
    width: 100%;
    overflow: auto;
}
.u-btn{
    cursor: pointer;
    border:2px solid #D63228;
	border-radius: 50%;
	color:#D63228;
	font-weight:800;
}
.u-header-btn{
    height: 80px;
    width: 80px;
    margin-top: 7px;
    margin-left: 5px;
	font-size: 14px;
    float: left;
	margin-left:8%;

}
.u-header-btn:hover{
  border:2px solid #DE7E63;
  color:#DE7E63; 
  height: 100px;
  width: 100px;
  font-size:18px;
}
.u-header-btn1{
    margin-left: 22%;
}
.u-header-btn1 input{
    float: left;
}
.u-header-btn i{
    height: 25px;
    width: 25px;
    float: left;
    display:none;
}
.u-header-btn p{
    margin: 0px;
    float: left;
    position: relative;
	left:15%;
	top:40%;
}
.u-header-btn2{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    background: url("../img/close.png") 7px 7px no-repeat;
}
.u-header-btn3{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 7px;
    margin-right: 40px;
    background:url("../img/glyphicons-halflings.png") -232px 8px no-repeat;
}

.u-i1{
    background: url("../img/larger_p.png") 5px 6px no-repeat;
}
.u-i2{
    background: url("../img/up.png") 4px 4px no-repeat;
}
.u-i3{
    background: url("../img/cancel.png") 2px 3px no-repeat;
}
.u-i4{
    background: url("../img/del.png") 4px 4px no-repeat;
}
.u-wenJ{
    clear: both;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #D63228;
}
.u-wenJ-cen{
    text-align: center;
    line-height: 45px;
    height: 100%;
    float: left;
    overflow: hidden;
    font-size: 13px;
    color: #D63228;
}
.u-wenJ-cen p{
    margin: 0px;
    text-align: center;
    line-height: 45px;
    height: 100%;
}
.u-wenJ-ids{
    width: 5%;
}
.u-wenJ-name{
    width: 20%;
}
.u-wenJ-bs{
    width: 15%;
}
.u-wenJ-loca{
    width: 15%;
}
.u-wenJ-sta{
    width: 25%;
}
.u-wenJ-sta div{
    float: left;
}
.u-wenJ-sta p{
    margin: 0px;
    float: left;
    margin-left: 5%;
}
.u-wenJ-ope{
    width: 20%;
}

.u-some{
    display: none;
}
.u-caozuo1{
    height: 30px;
    width: 30px;
    float: left;
    margin: 7px;
    background: url("../img/up.png") 6px 6px no-repeat;
    position: relative;
    left: 35%;
}
.u-caozuo-z{
    background: url("../img/glyphicons-halflings.png") -256px -65px no-repeat;
}
.u-caozuo-b{
    background: url("../img/glyphicons-halflings.png") -279px -65px no-repeat;
}
.u-caozuo-ok{
    background: url("../img/glyphicons-halflings.png") -281px 7px no-repeat;
}
.u-caozuo2{
    height: 30px;
    width: 30px;
    float: left;
    margin: 7px;
    background: url("../img/cancel.png") 4px 5px no-repeat;
    position: relative;
    left: 42%;
}
.u-jindu{
    padding: 0px;
    margin-left: 20%;
    width: 180px;
    height: 13px;
    border: 1px solid #afafaf;
    margin-top: 14px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.u-jinduing{
    margin: 0px;
    height: 100%;
    width:2px;
    background:url("../img/jd.png");
}
.u-jindu p{
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 10px;
    position: absolute;
    right: 78px;
    top: -15px;
    font-size: 8px;
    z-index: 1500;
}
.u-alertb{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #afafaf;
    opacity: 0.70;
    z-index: 3000;
    display: none;
}
.u-alertc{
    width: 300px;
    height:240px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 3001;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius:10px ;
    overflow: hidden;
    display: none;
}
.u-alertc-1{
    width: 100%;
    height: 190px;
    line-height: 190px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.u-alertc-2{
    width: 100%;
    height: 40px;
}
.u-alertc-2 input{
    margin-top: 7px;
    margin-right: 28px;
    float: right;
    height: 35px;
    width: 100px;
    cursor: pointer;
}